.root {
    -fx-font-family: "System";
    -fx-font-size: 1em;
    -fx-base: rgb(59,66,77);

    -fx-background-color:rgb(59,66,77);
    -fx-focus-color: rgb(59,66,77);
    -fx-control-inner-background: rgb(59,66,77);
    -fx-text-background-color: rgba(245,245,245);
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,50%) 0%, derive(-fx-color,-5%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, -2%) 0%, derive(-fx-color, 9%) 50%, derive(-fx-color, -9%) 50.5%, derive(-fx-color, -69%) 100%);
}


#_runBtn{
    -fx-font-size: 16px;
    -fx-font-family: "Doppio One";
    -fx-background-color: rgba(210,	210, 210 ,0.0);
}

#_stopBtn{
    -fx-font-size: 16px;
    -fx-font-family: "Doppio One";
    -fx-background-color: rgba(210,	210, 210, 0.0);
}

#_bottomMenu{
    -fx-background-color: rgb(31, 56, 71);
}

#_border{
    -fx-background-color: rgb(53,147,161); /*rgb(140,208,213);*/
}

#_time{
    -fx-text-background-color: rgb(53,147,161);
}

#_timerOutput{
    -fx-text-background-color: rgb(53,147,161);
}

#_bottomnLabels{
    -fx-text-background-color: rgb(53,147,161,0.3);
}



